#logo {
    /* Estilo del logo "Ismael Gym's" de la navbar */
    width: 150px;
    height: 52.65px;
    margin-right: 5px;
}

#navbar {
    height: 6px;
}

/* Div footer */
.footer {
    background: rgba(0, 0, 0, 0.93);
    color: white;
}

.links {
    padding-bottom: 10px;
}

.links ul {
    list-style-type: none;
}

.links li a {
    color: white;
    transition: color .2s;
}

.links:hover {
    text-decoration: none;
    color: #4180CB;
}

.about-company {
    padding-bottom: 30px;
}

.location {}

.copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
}
