@media only screen and (max-width: 1000px) {

    /* Media querie para el padding del carousel en tamaño menor a escritorio */
    #carouselExampleIndicators {
        padding-top: 68.65px;
    }

}

@media only screen and (min-width: 1000px) {

    /* Media querie para el alto del carousel en tamaño escritorio */
    #carouselExampleIndicators img {
        height: 100vh;
    }

}

/* Div ventajas */
#ventajas {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    width: 87%;
}

#ventajas h2 {
    padding-bottom: 10px;
}

@media only screen and (min-width: 1000px) {

    /* Media querie para el tamaño de la fuente en ventajas al pasar a escritorio */
    #ventajas h2 {
        font-size: 40px;
    }

    #ventajas {
        font-size: 25px;
    }

}

/* Div jumbotron */
#jumbotron {
    background-image: url("../imagenes/jumbotron.jpg");
    background-size: cover;
    margin-bottom: -49px;
}

#jumbotron #video {
    width: 70%;
    margin-left: 15%;
}

/* Div Dudas */
#dudas {
    padding-top: 79px;
    margin-bottom: 25px;
    text-align: center;
    width: 87%;
}

#dudas h2 {
    padding-bottom: 10px;
}

@media only screen and (min-width: 1000px) {

    /* Media querie para el tamaño de la fuente en ventajas al pasar a escritorio */
    #dudas h2 {
        font-size: 40px;
    }

    #dudas {
        font-size: 25px;
    }

}
